.jobs-container {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/749/593/95/the-sky-clouds-sunset-mountains-wallpaper-preview.jpg');
  background-attachment: fixed; /* Keeps the background image fixed */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  min-height: 100vh;
  /* backdrop-filter: blur(5px); */
  box-shadow: 0px 5px 15px rgba(255, 204, 0, 0.3);
  color: #fff; /* Ensures text stands out against the background */
}


.job-card {
  background: linear-gradient(135deg, #1a1a1a, #2a2a2a);
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(255, 204, 0, 0.2);
  width: 320px;
  padding: 25px;
  margin: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: #fff;
  /* backdrop-filter: blur(5px); */
}

.job-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 25px rgba(255, 204, 0, 0.5);
}

.job-card h3 {
  margin: 0;
  font-size: 1.6em;
  color: #ffb463;
  text-transform: uppercase;
  border-bottom: 2px solid #ffb463;
  padding-bottom: 10px;
}

.job-card p {
  margin: 10px 0;
  color: #ccc;
  line-height: 1.5;
  font-size: 0.9em;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.view-details-btn {
  background-color: #ffb463;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.view-details-btn:hover {
  background-color: #ffb463;
  transform: scale(1.05);
}

.icon-buttons .edit-btn,
.icon-buttons .delete-btn {
  color: #ffb463;
  transition: color 0.3s ease, transform 0.2s ease;
}

.icon-buttons .edit-btn:hover,
.icon-buttons .delete-btn:hover {
  color: #ffb463;
  transform: scale(1.1);
}


.add-job-button {
  background-color: #ffb463 !important;
  color: #000 !important;
}

.add-job-button:hover {
  background-color: #ffb463 !important;
  transform: scale(1.05);
}

/* Job Card Animations */
.job-card-transition-enter {
  opacity: 0;
  transform: translateY(20px);
}
.job-card-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.job-card-transition-exit {
  opacity: 1;
  transform: translateY(0);
}
.job-card-transition-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}
